---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Blog">
  <section class="max-w-screen-xl mx-auto px-4 py-20">
    <h1 class="text-4xl font-bold text-center text-[#cf3339]">Blog</h1>
    <p class="mt-4 text-center">Próximamente.</p>
  </section>
</Layout>
