<section id="about" class="bg-white py-20 section-animate">
  <div class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row items-center gap-12">
    <div class="flex-1 animate-slide-left">

      <div class="text-red-600 text-sm font-semibold uppercase tracking-wider mb-4">
        SOBRE NOSOTROS
      </div>
      
      <h2 class="text-4xl md:text-5xl lg:text-6xl font-bold text-gray-800 leading-tight mb-6">
        Impulsando la innovación tecnológica desde el 
        <span class="text-red-600">2006</span>
      </h2>
      
      <p class="mt-6 text-xl text-gray-600 leading-normal">
        Tutelkan surgió para suplir una carencia en la industria manufacturera, ofreciendo soluciones de 
        software y soporte técnico de primera línea. Desde entonces, hemos expandido nuestro campo de 
        acción a sectores como el forestal, alimentario, agrícola y más, con una rica trayectoria de 
        proyectos exitosos. Nos distinguimos por nuestra expertise en soluciones tecnológicas personalizadas, 
        enfocándonos constantemente en potenciar la eficiencia y competitividad de nuestros clientes.
      </p>
    </div>
    
    <img 
      src="/images/about/Tutelkan_Nosotros_Web.webp" 
      alt="Equipo trabajando en innovación tecnológica" 
      class="flex-1 w-full animate-slide-right" 
    />
  </div>
</section>

<script type="module" src="/src/scripts/sections/about.js"></script>