---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
const { title = 'Tutelkan' } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <title>Tutelkan - Creamos software a medida, que optimizan tu negocio </title>
    <slot name="head" />
  </head>
  <body class="bg-white text-gray-900">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add('show');
          }
        });
      }, { threshold: 0.1 });
      document.querySelectorAll('.fade-section').forEach((section) => {
        observer.observe(section);
      });
    </script>
  </body>
</html>
