---
---
<button id="theme-toggle" class="w-12 h-12 flex items-center justify-center rounded-full bg-gray-200 text-gray-700 hover:bg-white transition-colors duration-200 dark:bg-gray-600 dark:text-gray-300 dark:hover:bg-gray-500">
  <span class="sr-only">Cambiar tema</span>
  <i id="theme-toggle-light" class="bi bi-sun-fill text-lg"></i>
  <i id="theme-toggle-dark" class="bi bi-moon-fill text-lg hidden"></i>
</button>
<script>
const toggle = document.getElementById('theme-toggle');
const darkIcon = document.getElementById('theme-toggle-dark');
const lightIcon = document.getElementById('theme-toggle-light');

if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
  document.documentElement.classList.add('dark');
  darkIcon.classList.remove('hidden');
} else {
  lightIcon.classList.remove('hidden');
}

toggle.addEventListener('click', () => {
  darkIcon.classList.toggle('hidden');
  lightIcon.classList.toggle('hidden');
  document.documentElement.classList.toggle('dark');
  localStorage.theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light';
});
</script>