---
---
<button
  class="theme-toggle w-10 h-10 sm:w-12 sm:h-12 flex items-center text-gray-800 justify-center rounded-full bg-white hover:bg-gray-100 transition-all duration-200 dark:bg-gray-800 dark:hover:bg-gray-700  relative overflow-hidden"
  aria-label="Cambiar tema"
>
  <div class="relative w-5 h-5 sm:w-6 sm:h-6">
    <i class="theme-toggle-light bi bi-sun-fill absolute inset-0 flex items-center justify-center text-base sm:text-lg transition-all duration-300 transform rotate-0 scale-100 opacity-100"></i>
    <i class="theme-toggle-dark bi bi-moon-fill absolute inset-0 flex items-center justify-center text-base sm:text-lg transition-all duration-300 transform -rotate-90 scale-0 opacity-100 " ></i>
  </div>
</button>

<script src="/src/scripts/toggle.js"></script>
